<footer class="site-footer">

  <div class="wrapper">

    
    <h1 class="page-heading">Socialising</h1>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

        <ul class="contact-list">
          <li>{% include social-links.html %}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        
      </div>

      <div class="footer-col footer-col-3">
        
        <blockquote>"The things you are passionate about are not random. They are your calling."</blockquote>
      </div>
    </div>

  </div>

</footer>
 <script src="/js/jquery-2.1.3.min.js"></script>
   <script src="/js/plugins.js"></script>
   <script src="/js/main.js"></script>